<div
  class="relative mx-2 my-4 h-72 overflow-hidden rounded-3xl bg-cover bg-top text-white md:my-8 lg:h-80"
  [ngStyle]="{
    'background-image':
      'linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.65)), url(' +
      event.image +
      ')',
  }">
  <div
    class="relative flex h-full flex-col justify-end space-y-1 p-4 text-center">
    <p class="text-lg font-semibold drop-shadow lg:text-xl">
      {{ event.title }}
    </p>
    <p class="lg:text-md text-sm font-medium opacity-80 drop-shadow">
      {{ event.location }}
    </p>
    <p class="lg:text-md text-sm font-medium opacity-80 drop-shadow">
      {{ event.date }}
    </p>
  </div>
</div>
