@import '../node_modules/tailwindcss/base.css' layer(tailwindcss);
@import '../node_modules/tailwindcss/components.css' layer(tailwindcss);
@import '../node_modules/tailwindcss/utilities.css' layer(tailwindcss);
@import 'primeng/resources/themes/lara-light-blue/theme.css';
@import 'primeng/resources/primeng.css';

:root {
  --bg-main: rgb(71 15 15 / 1%);
  --black: #270808;
  --light-gray: #555c73;
  --red: #ab1c29;
  --transparent-red: #ab1c2985;
}

body {
  background-color: var(--bg-main);
  color: var(--black);
}
